.wrap {
  max-width:1100px;
  margin-right:auto;
  margin-left:auto;
}

/*.hearts {
  background-color: #ccc;
  overflow: hidden;
}*/
/*
.heart {
  float:left;
  font-size: 20em;
  line-height: 1em;
}*/
.row {
  clear: left;
}
.heart, .hearts {
  display: block;
  max-width: 100%;
  float:left;
}
/*img {
  width: 100%;
}
*/.first {
  clear:left;
}